@{
	Layout = "~/Views/_AppLayout.cshtml";
	ViewBag.Title = "Regístrate";
}
@model QuiquemonMvc5App.Models.ViewModels.Account.RegisterViewModel

<h1>@ViewBag.Title</h1>
<h4>Ingresa tus datos para registrarte en el sistema.</h4>
<hr>
<div class="row">
	<form>
		<div class="col-sm-6">
			<div class="form-group">
				<label>Nombre:</label>
				<div class="input-group">
					<input type="text" name="name" class="form-control" autofocus />
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-pencil"></span>
					</span>
				</div>
			</div>
			<div class="form-group">
				<label>Apellidos</label>
				<div class="input-group">
					<input type="text" name="lastname" class="form-control" />
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-pencil"></span>
					</span>
				</div>
			</div>
			<div class="form-group">
				<label>Fecha de nacimiento:</label>
				<div class="input-group date">
					<input type="text" name="birthday" class="form-control" readonly />
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar" style="cursor: pointer"></span>
					</span>
				</div>
				<script>
					$(".date").datetimepicker({
						locale: "es",
						format: "YYYY-MM-DD",
						maxDate: new Date(),
						allowInputToggle: true,
						ignoreReadonly: true
					});
				</script>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label>Correo electrónico:</label>
				<div class="input-group">
					<input type="email" name="email" class="form-control" />
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-envelope"></span>
					</span>
				</div>
			</div>
			<div class="form-group">
				<label>Contraseña:</label>
				<div class="input-group">
					<input type="password" name="password" class="form-control" />
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-asterisk"></span>
					</span>
				</div>
			</div>
			<div class="form-group">
				<label>¿Suscribirse al boletín?</label>
				<select id="newsletter" class="form-control">
					<option value="1">Sí</option>
					<option value="2">No</option>
				</select>
			</div>
			<br>
			<input type="submit" value="Registrarme" class="btn btn-success" />
			<a href="/" class="btn btn-danger">Cancelar</a>
			<br>
			<br>
			<a href="/Account/Login">¿Ya tienes una cuenta? Da clic aquí.</a>
		</div>
	</form>
</div>